[PATHS]
PICKLEPATH  = patch_experiment_data.pickle
CSVPATH     = patch_experiment_data.csv
MCC_DLLPATH = C:/Program Files (x86)/Molecular Devices/MultiClamp 700B Commander/3rd Party Support/AxMultiClampMsg

[HEADSTAGE TO UNIQUE ID]
1 = 12345678_1 
2 = 12345678_2 
3 = 87654321_1 
4 = 87654321_2 

[PROTOCOL MULTICLAMP MODES] #conforms to MCC_MODE_DICT naming
 1 = IC , IC , VC , VC 
 2 = VC , VC , IC , IC 
 3 = VC , VC , IEZ , IEZ 
 4 = IEZ , VC , IC , IEZ 
 5 =
 6 =
 7 =
 8 =
 9 =
10 =
11 =
12 =
13 =
14 =

[FORMATTING]
#string to enter to tell inferno that the headstage is empty
NO CELL STRING = xx
OFF STRING = OFF
#these should match the names of keys of the state dict
ROW ORDER = Cell
            Mode
            Holding
            BridgeBalResist 

[ROW NAMES] #all the rows in the state dict, probs should validate
DateTime            = Time 
Cell                = Cell 
Mode                = Mode

HoldingEnable       = HoldON 
Holding             = Hold 
PrimarySignal       = PS 
PrimarySignalGain   = PSGain 
PrimarySignalLPF    = PSLFP 
PipetteOffset       = POffset 

FastCompCap         = FCCap 
SlowCompCap         = SCCap 
FastCompTau         = FCTau 
SlowCompTau         = SCTau 
SlowCTX20Enable     = Tau20x 

BridgeBalEnable     = BBalON 
BridgeBalResist     = BBal 

Serial              = Serial
Channel             = Channel 

[STATE TO UNITS]
IC                  = p , 3.1f
VC                  = m , 3.1f
DateTime            = None
Cell                = None
Mode                = None 

HoldingEnable       = None
Holding             = None
PrimarySignal       = None
PrimarySignalGain   = None
PrimarySignalLPF    = None
PipetteOffset       = m 

FastCompCap         = p 
SlowCompCap         = p 
FastCompTau         = u 
SlowCompTau         = u 
SlowCTX20Enable     = None

BridgeBalEnable     = None
BridgeBalResist     = M , 3.1F

Serial              = None
Channel             = None
